.cards{
    height: 300px;
    width: 500px;
    background-color: rgb(226, 225, 225);
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 20px;
    transition : 0.3s; 
    animation : ease-in-out;
    display : row;
    flex-flow: column;
   
    

}

.cards:hover{
    transform: scale(1.04);
    box-shadow: 0 0 15 -15px;
}



.header h1{
   
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top: 100px;
    font-weight : bold;
    font-family : sans-serif;
    font-size: 40px;
}




.image{
    background-color: coral;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin: 20px;
   
}

.image img{
    margin-top : 25px;
    height : 45px;
    margin-left: 25px;
    color: white
}
.text{
      padding-top: 5px;
}
.text >h2{
    margin-left: 170px;
    font-size : 30px;
    font-weight : bold;
    margin-top : 40px
  
}

.cards p {
    margin-left : 150px;
    font-size: 20px;
    margin-top: -90px;
}

.btn button{
     height: 33px;
    background-color : coral;
    margin-left: 390px;
    margin-top : 5px;
    outline : none;
    border : none;
    color: white;
    border-radius: 10px;
}